{% extends 'Base.html' %}
{% load static %}
{% block content%}
<h1 class="heading">CONTACTS</h1>

<div class="con-image">
    <img class="con2" src="static/pro2.jpg" alt="fdd">
</div> 
<h2 class="con-h2">CONTACTS</h2>   
<div class="con-box">
    <h3>Call Us</h3>
        <p class="con-pt">Mr.Kathirvel: +91-9789134266</p>
    <h3>Email Id</h3>
        <p class="con-pt">Sales Enquiries: msengcovai@gmail.com</p>
        <h3>Our Location</h3>
        <ul>
            <li class="con-pt">MS ENGINEERINGS</li>
            <li class="con-pt">18-2, 5<sup>th</sup> Street, Gandhi Nagar,</li>
            <li class="con-pt">Ganapathy, Coimbatore-641006</li>
            <li class="con-pt">Tamil Nadu, India</li>
        </ul>
            <h3>Working Hours</h3>
            <ul>
                <li class="con-pt">Mon-Sat | 09:00 AM - 05:30 PM</li>
                <li class="con-pt">Sun - Holiday</li>
            </ul>
</div>
<button class="con-map">GOOGLE MAP</button>
{% endblock content %}