{% extends 'Base.html' %}
{% load static %}
{% block content%}
<h1 class="heading">ENQUIRY</h1>

<div class="enqq1">       <div class="con-image">
    <img class="con2" src="static/pro2.jpg" alt="fdd">
</div> 
<h2 class="con-h2">ENQUIRY</h2>  
<form class="form">
<input class="form-enq" type="name" placeholder="Name" required/>
<input class="form-enq" placeholder="Phone Number" type="number"/>
<input class="form-enq" placeholder="State" type="text" required/>    
<input class="form-enq" placeholder="Country" type="text" required/>
<input class="form-enq" type="email" placeholder="Email Id" required/>
<input class="form-enq mes"  type="text"/>
<input class=" en" placeholder="Enquiry Message" type="text"/>
<button class="sub" type="submit">Get a Quote</button>
</form>
{% endblock content%}