{% extends 'Base.html' %}
{% load static %}
{% block content%}
<h1 class="heading">PRODUCTS</h1>

<div class="con-image">
    <img class="con2" src="static/pro2.jpg" alt="fdd">
</div>
<div class="tot-box">
<h2 class="pro-h2">GATE VALVE</h2>
<div class="pro-box">
    <div class="pro-con">
        <ul>
            <li> Suitable for cleaning with a cleaning pig</li>
            <li> One extension spindle for several dimensions
            </li>
            <li> Suitable for operation by automatic actuators
            </li>
            <li> Easy refitting for position indicator and automatic actuators on the standard bonnet
            </li>
            <li> Duplex stainless steel spindle
            </li>
        </ul>
    </div>
    <div class="pro-img">
        <img class="pro-img1" src="static/pro3.jpg" alt="df">
    </div>
</div>
<h2 class="pro-h2 head">BUTTERFLY VALVE</h2>
<div class="pro-box">
    <div class="pro-con">
        <ul>
            <li> Suitable for cleaning with a cleaning pig</li>
            <li> One extension spindle for several dimensions
            </li>
            <li> Suitable for operation by automatic actuators
            </li>
            <li> Easy refitting for position indicator and automatic actuators on the standard bonnet
            </li>
            <li> Duplex stainless steel spindle
            </li>
        </ul>
    </div>
    <div class="pro-img">
        <img class="pro-img1" src="static/pro4.jpg" alt="df">
    </div>
</div>

<h2 class="pro-h2 head">CHECK VALVE</h2>
<div class="pro-box">
    <div class="pro-con">
        <ul>
            <li> Suitable for cleaning with a cleaning pig</li>
            <li> One extension spindle for several dimensions
            </li>
            <li> Suitable for operation by automatic actuators
            </li>
            <li> Easy refitting for position indicator and automatic actuators on the standard bonnet
            </li>
            <li> Duplex stainless steel spindle
            </li>
        </ul>
    </div>
    <div class="pro-img">
        <img class="pro-img1" src="static/pro4.jpg" alt="df">
    </div>
</div>

<h2 class="pro-h2 head">SURGE RELIEF VALVE</h2>
<div class="pro-box">
    <div class="pro-con">
        <ul>
            <li> Suitable for cleaning with a cleaning pig</li>
            <li> One extension spindle for several dimensions
            </li>
            <li> Suitable for operation by automatic actuators
            </li>
            <li> Easy refitting for position indicator and automatic actuators on the standard bonnet
            </li>
            <li> Duplex stainless steel spindle
            </li>
        </ul>
    </div>
    <div class="pro-img">
        <img class="pro-img1" src="static/pro4.jpg" alt="df">
    </div>
</div>
</div>
{% endblock content %}