<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML, CSS">
        <meta name="description" content="...">
        <link rel="stylesheet" href="static/myapp/css/enquiry.css">
        <title>Project</title>
    </head>
    
    <body>
        <div class="header">
            <input type="checkbox" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIcontoggle">
             <div class="spin"><div class="spinner top"></div>
             <div class="spinner middle"></div>
             <div class="spinner bottom"></div></div>
            </label>
            <div id="sidebarMenu">
                <ul class="menu">
                    <img class="hom-imgg" src="static/MS_logo3.png" alt="dsf">
                <li><a href="Home.html" style="color:black;">HOME</a></li>
                <li><a href="Products.html">PRODUCTS</a></li>
                <li><a href="Solutions.html">SOLUTIONS</a></li>
                <li><a href="Contacts.html">CONTACTS</a></li>
                <li><a href="Enquiry.html">ENQUIRY</a></li></ul>
            </div>
                <h1 class="heading">HOME</h1>
            </div><div class="hom">
            <div class="container">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
            <div class="slider">
                <div class="slides">
                    <div class="slide first">
                </div>
                <div class="slide">
                    <img class="hom-pro1" src="static/pro1.jpg" alt="p1" />
                    <img class="hom-pro2" src="static/pro2.jpg" alt="p2" />
                    <img class="hom-pro3" src="static/pro3.jpg" alt="p3" />
                    <img class="hom-pro4" src="static/pro4.jpg" alt="p4" />
                    <img class="hom-pro5" src="static/pro5.jpg" alt="p5" />
            </div>
            <div class="slide third">
            </div>
            <div class="slide">
            </div>
            <div class="slide">
            </div>
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            
            </div>
            </div>
            </div></div>
            <div class="home-st">
            <h2>ABOUT</h2>
            <p>We lead you to the future, we lead you to <span class="word">SMART WATER MANAGEMENT.</span>
            </p>
        </div>
        <div class="hom-box">
            <div class="hom-con">
                <p>We are pioneers in water distribution handling
                    and providing futuristic solutions to achieve
                    Smart Water Management with our smart 
                    devices and equipment's.</p>
            </div>
            <div>
                <img class="hom-img" src="static/pro1.jpg" alt="df">
            </div>
        </div>
        <div class="hom-box1">
            <div class="hom-div1">
                <div>
                    <img class="hom-img1" src="static/pro3.jpg" alt="dd">
                </div>
                <div class="hom-con1">
                    <p>Water saving is most important 
                        aspect of todays generation & for 
                        the future sustainability.
                    </p>
                </div>
            </div>
            <div class="hom-div1">
                <div>
                    <img class="hom-img1" src="static/pro3.jpg" alt="dd">
                </div>
                <div class="hom-con1">
                    <p>Live water monitoring and 
                        analysing predicts future water 
                        requirement and enable us to 
                        store it.
                    </p>
                </div>
            </div>
            <div class="hom-div1">
                <div>
                    <img class="hom-img1" src="static/pro3.jpg" alt="dd">
                </div>
                <div class="hom-con1">
                    <p>Smart water control equipment's 
                        and devices ensure and avoid the 
                        wastage and bring down the fear 
                        of water scarcity.
                    </p>
                </div>
            </div>
            <div class="hom-div1">
                <div>
                    <img class="hom-img1" src="static/pro3.jpg" alt="dd">
                </div>
                <div class="hom-con1">
                    <p>Advancement in Fluid Automation 
                        make sure water reach’s to the 
                        every nook and corners where 
                        ever water is needed.
                    </p>
                </div>
            </div>
        </div>
            <h2 class="hom-h2">OUR PRODUCTS</h2>
            <div class="hom-box2">
                <div class="hom-div2">
                    <div>
                        <img class="hom-img2" src="static/pro4.jpg" alt="df">
                    </div>
                    <div class="hom-con2">
                        <ul>
                            <li>Product name</li>
                            <li>Description</li>
                            <li class="hom-li">SEE THE PRODUCT</li>
                        </ul>
                    </div>
                </div>
                <div class="hom-div2">
                    <div>
                        <img class="hom-img2" src="static/pro4.jpg" alt="df">
                    </div>
                    <div class="hom-con2">
                        <ul>
                            <li>Product name</li>
                            <li>Description</li>
                            <li class="hom-li">SEE THE PRODUCT</li>
                        </ul>
                    </div>
                </div>
           
                <div class="hom-div2">
                    <div>
                        <img class="hom-img2" src="static/pro4.jpg" alt="df">
                    </div>
                    <div class="hom-con2">
                        <ul>
                            <li>Product name</li>
                            <li>Description</li>
                            <li class="hom-li">SEE THE PRODUCT</li>
                        </ul>
                    </div>
                </div>
           </div>
           <div class="hom-box3">
               <div class="hom-head2">
               <h2>OUR CLIENTS</h2>
               </div>
           </div>
            <div class="foot">
                <div class="footer">
                    <div>
                        <h3>Information</h3>
                        <ul class="foot1">
                            <li>Home</li>
                            <li>Solutions</li>
                            <li>Media Gallery</li>      
                        </ul>
                    </div>
                    <div>
                        <h3>COMPANY</h3>
                        <ul class="foot1">
                            <li>About Us</li>
                            <li>Our Legacy</li>
                            <li>Our Vision & Mission</li>                        
                        </ul>
                    </div>
                    <div>
                        <h3>CONTACT DETAILS</h3>
                        <ul class="foot1">
                            <li>msengcovai@gmail.com</li>
                            <li>+91-9789134266</li>
                            <li>WORKING</li>   
                            <li>MON - SAT | 9:30 AM - 5:30 PM</li>
                        </ul>
                    </div>
                </div>
               <div class="foot-imgs">
                   <img class="foot-img fac" src="static/fac.png" alt="dsd" />
                   <img class="foot-img" src="static/twi.png" alt="dfds">
                   <img class="foot-img ins" src="static/ins.png" alt="ds">
               </div>
               <p class="foot-p">&copy; 2022 MS ENGINEERINGS All rights reserved
            </p>
            </div></div>
        
</body>