{% extends 'Base.html' %}
{% load static %}
{% block content %}

<h1 class="heading">HOME</h1>
<div class="hom">
            <div class="container">
               <div class="slide">
                    <img class="img-container" src="{% static 'pro1.jpg'%}" alt="d1" />
                   
                    <img class="img-container" src="{% static 'pro2.jpg'%}" alt="d2" />
                   
                    <img class="img-container" src="{% static 'pro3.jpg'%}" alt="d3" />   
            </div></div>
            <div class="home-st">
            <h2>ABOUT</h2>
            <p class="about-p">We lead you to the future, we lead you to <span class="word">SMART WATER MANAGEMENT.</span>
            </p>
        </div>
        <div class="hom-box">
            <div class="hom-con">
                <p>We are pioneers in water distribution handling
                    and providing futuristic solutions to achieve
                    Smart Water Management with our smart 
                    devices and equipment's.</p>
            </div>
            <div>
                <img class="hom-img" src="static/pro1.jpg" alt="df">
            </div>
        </div>
        <div class="hom-box1">
            <div class="hom-div1">
                <div>
                    <img class="hom-img1" src="{%static 'pro3.jpg'%}" alt="dd">
                </div>
                <div class="hom-con1">
                    <p>Water saving is most important 
                        aspect of todays generation & for 
                        the future sustainability.
                    </p>
                </div>
            </div>
            <div class="hom-div1">
                <div>
                    <img class="hom-img1" src="static/pro3.jpg" alt="dd">
                </div>
                <div class="hom-con1">
                    <p>Live water monitoring and 
                        analysing predicts future water 
                        requirement and enable us to 
                        store it.
                    </p>
                </div>
            </div>
            <div class="hom-div1">
                <div>
                    <img class="hom-img1" src="static/pro3.jpg" alt="dd">
                </div>
                <div class="hom-con1">
                    <p>Smart water control equipment's 
                        and devices ensure and avoid the 
                        wastage and bring down the fear 
                        of water scarcity.
                    </p>
                </div>
            </div>
            <div class="hom-div1">
                <div>
                    <img class="hom-img1" src="static/pro3.jpg" alt="dd">
                </div>
                <div class="hom-con1">
                    <p>Advancement in Fluid Automation 
                        make sure water reach’s to the 
                        every nook and corners where 
                        ever water is needed.
                    </p>
                </div>
            </div>
        </div>
            <h2 class="hom-h2">OUR PRODUCTS</h2>
            <div class="hom-box2">
                <div class="hom-div2">
                    <div>
                        <img class="hom-img2" src="static/pro4.jpg" alt="df">
                    </div>
                    <div class="hom-con2">
                        <ul>
                            <li>Product name</li>
                            <li>Description</li>
                            <li class="hom-li">SEE THE PRODUCT</li>
                        </ul>
                    </div>
                </div>
                <div class="hom-div2">
                    <div>
                        <img class="hom-img2" src="static/pro4.jpg" alt="df">
                    </div>
                    <div class="hom-con2">
                        <ul>
                            <li>Product name</li>
                            <li>Description</li>
                            <li class="hom-li">SEE THE PRODUCT</li>
                        </ul>
                    </div>
                </div>
           
                <div class="hom-div2">
                    <div>
                        <img class="hom-img2" src="static/pro4.jpg" alt="df">
                    </div>
                    <div class="hom-con2">
                        <ul>
                            <li>Product name</li>
                            <li>Description</li>
                            <li class="hom-li">SEE THE PRODUCT</li>
                        </ul>
                    </div>
                </div>
           </div>
           <div class="hom-box3">
               <div class="hom-head2">
               <h2>OUR CLIENTS</h2>
               </div>
           </div>
            
{% endblock content %}